:root {
    --mobile-card-width: 80vw;
    --desktop-card-width: 500px;
}

.body * {
    outline: 1px solid black;
}

.body {
    height: calc(var(--desktop-card-width) * 1.36);
    width: var(--desktop-card-width);
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    .header {
        height: 10%;

        display: flex;

        .type {
            width: 13.5%;
            
            background: yellow;
        }
        
        .title {
            width: 66.5%;
            
            background: orange;
        }
        
        .hp {
            width: 20%;
            
            background: orangered;
        }

    }
    
    .image {
        height: 50%;
        
        background: lightblue;

        display: flex;
        justify-content: right;

        img {
            height: 100%;
        }
    }
    
    .info {
        height: 40%;
        
        background: orange;
        
        display: flex;
        
        .text {
            width: 80%;
            
            background: orange;
        }
        
        .text {
            height: 100%;

            font-size: 12px;
            
            background: blue;
            border: 2px solid red;

            display: flex;
            flex-direction: column;

            .ability {
                height: 10%;

                background: skyblue;

                display: flex;
                align-items: center;

                p {
                    height: 100%;

                    margin-right: 5px;
                }
            }

        }
        
        .stats {
            width: 20%;

            background: orangered;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .atk {
                height: 20%;

                background: #c71717;
            }
            .def {
                height: 20%;

                background: #c71717;
            }
            .spe {
                height: 20%;
                
                background: #c71717;
            }
            .int {
                height: 20%;
                
                background: navy;
            }
        }
       
    }
}

@media (max-width: 600px) {
    .body {
        height: calc(var(--mobile-card-width) * 1.36);
        width: var(--mobile-card-width);
    }
}